* {
    box-sizing: border-box;
    }

body {
    text-align: center;
}

button {
    display: inline-block;
    border: thin ridge rgb(126, 124, 124);
    flex: 1 1 25px;
    width: 30%;
    height: 10%;
    padding:5%;
    padding-bottom: 5%;
    font-size: 16px;
    background-color: rgba(219, 217, 217, 0.719);
    transition: 3s, opacity;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .4;
}

#pokeli {
    display: none;

}

#pokeli.is-visible {
    display: flex;
    padding: .3%;
}

#loading {
    display: none;
}

#loading.is-visible {
    display: block;
    margin: 0 auto;
    padding: 50px;
}

.pokedextitle {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 70%;
}

#searchbar {
    display: none;
    margin: 0 auto;
}

#searchbar.is-visible {
    display: block;
    margin: 0 auto;
    width: 35%;
    height: 45px
}

#buttonlist {
    display: none
}

#buttonlist.is-visible {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    border: none;
}

#searchbutton, #resetbutton, #filterbutton {
    display: inline-block;
    flex: 1 1 250px;
    text-align: center;
    width: 50%;
    height: auto;
    padding: 10px;
}

.pokedex-start {
    text-align: center;

}

.master-pokedex {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    min-width: 200px;
    max-width: 1100px;
    background-color: rgba(226, 224, 224, 0.322);
    text-align: center;
}

.pokeman-list {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    width: 75%;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 2%;
    margin-top: 0;
    margin-bottom: 5%
    
}

#detailsContainer {
    display: none;
}

#detailsContainer.is-visible {
    display: flex;
    text-align:center;
    position: fixed;
    box-sizing: border-box;
    padding: 20px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 999; 
}

#modalImg {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-color: rgba(238, 89, 89, 0.664);
    border: thick groove black;

}

.pokeImg{
    height: 100%;
    width: 100%;
}


#detailsList {
    margin: auto;
    box-sizing: border-box;
    border: thin ridge black;
    background-color: rgb(197, 49, 5);
    border: 5px solid rgba(196, 20, 8, 0.945);
    width: 90%;
    text-transform: capitalize;
    max-width: 900px;
}


.modal-title {
    display: block;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.closeButton {
    display: inline;
    position: relative;
    float: right;
    right: 0;
    width: 30px;
    height: 35px;
    text-align: center;
    border: none;
    padding: 2px;
}

#pokeDetails {
    display: block;
    padding: 5px;
    width: 100%;
    font-size: xx-large;
    text-transform: none;
    margin: 0 auto;
}

.modalHeight {
    padding: 5px;
    font-size: large;
}



.attack, .defense, .specialAtk {
    display: block;

}

.defense {
    top: 100px;
}

.specialAtk {
    top: 120px;
}

.specialDef, .speed,.health {
    display:block;
}

#wrapper {
    display: flex;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
}

.leftside {
    margin-left: 15%;
    margin-right: 10%;
    font-size: xx-large;
}

.rightside {
    font-size: xx-large;
    margin-right: 15%;
    margin-left: 10%;
}

/*Nothing else down here!!!*/
/*Pokey Types Start here*/
.fire {
    text-transform: capitalize;
    background-color: rgba(146, 3, 3, 0.836);
    background-image: ;
    font-size: 24px;
    transition: 3s, opacity;
}

.grass {
    text-transform: capitalize;
    background-color: rgba(13, 139, 45, 0.884);
    transition: 3s, opacity;
    font-size: 24px;
}

.water {
    text-transform: capitalize;
    background-color: rgba(21, 7, 212, 0.712);
    transition: 3s, opacity;
    font-size: 24px;
}

.electric {
    text-transform: capitalize;
    background-color: rgba(168, 166, 3, 0.815);
    transition: 3s, opacity;
    font-size: 24px;
}

.normal {
    text-transform: capitalize;
    background-color: rgba(126, 125, 125, 0.637);
    transition: 3s, opacity;
    font-size: 24px;
}

.dark {
    text-transform: capitalize;
    background-color: rgba(44, 5, 77, 0.589);
    transition: 3s, opacity;
    font-size: 24px;
}

.bug {
    text-transform: capitalize;
    background-color: rgb(119, 148, 38);
    transition: 3s, opacity;
    font-size: 24px;
}

.flying {
    text-transform: capitalize;
    background-image: linear-gradient(90deg, rgba(87, 216, 255, 0.637), rgb(182, 118, 65));
    transition: 3s, opacity;
    font-size: 24px;
}

.poison {
    text-transform: capitalize;
    background-color: rgba(85, 2, 153, 0.795);
    transition: 3s, opacity;
    font-size: 24px;
}

.ground {
    text-transform: capitalize;
    background-color: rgba(114, 71, 6, 0.986);
    transition: 3s, opacity;
    font-size: 24px;
}

.fairy {
    text-transform: capitalize;
    background-color: rgba(250, 83, 214, 0.692);
    transition: 3s, opacity;
    font-size: 24px;
}

.psychic {
    text-transform: capitalize;
    background-color: rgba(235, 14, 143, 0.548);
    transition: 3s, opacity;
    font-size: 24px;
}

.fighting {
    text-transform: capitalize;
    background-color: rgba(250, 81, 14, 0.548);
    transition: 3s, opacity;
    font-size: 24px;
}
.rock {
    text-transform: capitalize;
    background-color: rgba(65, 35, 1, 0.685);
    transition: 3s, opacity;
    font-size: 24px;
}
.ghost {
    text-transform: capitalize;
    background-image: linear-gradient(90deg, purple, rgb(73, 73, 73));
    transition: 3s, opacity;
    font-size: 24px;
}
.ice {
    text-transform: capitalize;
    background-color: rgba(19, 219, 219, 0.548);
    transition: 3s, opacity;
    font-size: 24px;
}
.dragon {
    text-transform: capitalize;
    background-color: rgba(11, 2, 85, 0.548);
    transition: 3s, opacity;
    font-size: 24px;
}

    
@media all and (max-width: 500px) {
    .leftside {
        margin-left: 5%;
        margin-right: 5%;
        font-size: large
    }
    
    .rightside {
        font-size: large;
        margin-right: 5%;
        margin-left: 5%;
    }
    #pokeDetails {
        font-size: larger;
    }
    #modalImg {
        margin-top: 50px;
        height: 100%;
    }

    .pokedextitle {
        width: 100%;
    }
    #searchbar.is-visible {
        height: 35px;
    }
    
  }
  @media all and (min-width: 500px) and (max-width: 750px){

  }
  @media all and (max-width: 750px) {

  }